<div class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
    <div class="card shadow-lg border-0 p-5 text-center" style="width: 420px; border-radius: 1.5rem;">
        <h3 class="mb-4 text-primary fw-bold">Turno </h3>
        <p class="text-secondary mb-4">Bienvenido <br>Presiona el botón para solicitar tu turno y estar pendiente al llamado en pantalla.</p>
        <a class="btn btn-primary w-75 mx-auto fs-5 py-2" href="#">Pedir Turno</a>
    </div>
</div>