@{
    ViewData["Title"] = "Turno Asignado";
}
<meta http-equiv="refresh" content="4;url=/Turn/RequestTurn" />

<div class="text-center mt-5">
    <h2>✅ ¡Tu turno ha sido asignado!</h2>
    <p>Tu número de turno es:</p>
    <h1 class="display-1 text-primary fw-bold">@ViewBag.Turno</h1>
    <p>Por favor, espera a que sea llamado en pantalla.</p>
</div>